<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{profile_wizard_step_2_heading}}</title>
    {{> head }}
    <link href="/css/client-profile-setup.css" rel="stylesheet"/>
    <script src="/js/client-setup/client-profile-setup.js"></script>
    <script src="/js/client-setup/audio.js"></script>
    <script src="/js/client-setup/progress.js"></script>

</head>

<body>

<div>


    <div class="row">
        <header class="medium-12 columns header">
            <div class="columns small-1 large-1 logo-column">
                <img src="/images/setup/step1/logo.png" alt="EasyReading Logo" class="logo">
            </div>
            <div class="columns small-11 large-11 er-header">
                <h1 id="heading1" class="heading1">{{{step6_heading}}}</h1>
                <hr class="header-hr">
            </div>

        </header>

    </div>

    <main>
        <form id="wizard-form" method="POST" action="/client/setup">

            <div class="main-container">

                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row-header">
                            <button type="button" class="er-audio-player er-audio-player-float" data-audio-elements="heading2_1 heading2_1_text"><img
                                    src="/images/setup/text-to-speech.png"></button>
                            <div>

                                <h2 id="heading2_1" data-audio-src="/audio/step6/{{lang}}/heading2_1.mp3">
                                    {{{structure_help_heading}}}

                                </h2>
                                <div id="heading2_1_text" data-audio-src="/audio/step6/{{lang}}/heading2_1_text.mp3">
                                    {{{structure_help_heading_text}}}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="columns small-4 large-4">
                        <div class="checkbox widget widget_large {{#ifEquals setupInformation.[5].noads
                                                                "true"}} checked {{/ifEquals}}" data-name="noads">
                            <img src="/images/setup/step6/no_ads.png" alt="">
                        </div>
                        <div class="row">

                            <div class="columns small-12 text-center">
                                <span id="button1_text" data-audio-src="/audio/step6/{{lang}}/button1_text.mp3" class="container-info">{{{remove_adds_text}}}</span>
                                <br>
                                <button type="button" class="er-audio-player" data-audio-elements="button1_text"><img
                                        src="/images/setup/text-to-speech.png"></button>

                            </div>
                        </div>
                    </div>

                    <div class="columns small-4 large-4">
                        <div class="checkbox  widget widget_large {{#ifEquals setupInformation.[5].links
                                                                "true"}} checked {{/ifEquals}}" data-name="links">
                            <img src="/images/setup/step6/link.png" alt="">
                        </div>
                        <div class="row">
                            <div class="columns small-12 text-center">
                                <span id="button2_text" data-audio-src="/audio/step6/{{lang}}/button2_text.mp3" class="container-info">{{{highlight_links_text}}}</span>
                                <br>
                                <button type="button" class="er-audio-player" data-audio-elements="button2_text"><img
                                        src="/images/setup/text-to-speech.png"></button>

                            </div>

                        </div>
                    </div>
                    <div class="columns small-4 large-4">
                        <div class="checkbox  widget widget_large {{#ifEquals setupInformation.[5].reading
                                                                "true"}} checked {{/ifEquals}}" data-name="reading">
                            <img src="/images/setup/step6/reading_mode.png" alt="">
                        </div>
                        <div class="row">

                            <div class="columns small-12 text-center">
                                <span id="button3_text" data-audio-src="/audio/step6/{{lang}}/button3_text.mp3" class="container-info">{{{reading_mode}}}</span>
                                <br>
                                <button type="button" class="er-audio-player" data-audio-elements="button3_text"><img
                                        src="/images/setup/text-to-speech.png"></button>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="columns large-centered progress-column">
                    <div class="progress-container">
                        <button id="prevButton" type="button" class="button progress-button"><img src="/images/back.png"
                                                                                                  alt="Back"></button>
                        <div class="progress-indicator-container">
                            <ol class="progress-indicator">

                                {{#each stepInformation}}
                                    {{#ifEquals step "completedStep"}}
                                        <li class="is-complete" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "currentStep"}}
                                        <li class="is-current {{percent}}" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "upcomingStep"}}
                                        <li class="" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                {{/each}}
                            </ol>
                        </div>
                        <button id="nextButton" type="button" class="button progress-button"><img src="/images/next.png"
                                                                                                  alt="Next"></button>
                        <br>
                        <span class="back-label progress-label">{{previous}}</span>
                        <span class="next-label progress-label">{{next}}</span>
                    </div>
                </div>
            </div>

        </form>
    </main>


</div>


</body>
</html>