<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{step1_heading}}</title>
    {{> head }}
    <link href="/css/client-profile-setup.css" rel="stylesheet"/>
    <script src="/js/client-setup/client-profile-setup.js"></script>
    <script src="/js/audio.js"></script>
    <script src="/js/client-setup/progress.js"></script>
    <script>

        addRadioButtonListener(function (value) {

            if (value == "yes") {

                $("#tts-speed-container").show();

            } else {
                $("#tts-speed-container").hide();
            }
        }, "tts");

    </script>

</head>

<body>

<div>

    <div class="row">
        <header class="medium-12 columns header">
            <div class="columns small-1 large-1 logo-column">
                <img src="/images/setup/step1/logo.png" alt="EasyReading Logo" class="logo">
            </div>
            <div class="columns small-11 large-11 er-header">
                <h1 id="heading1" class="heading1"  data-audio-src="heading.mp3">{{{step1_heading}}}</h1>
                <hr class="header-hr">
            </div>

        </header>

    </div>

    <main>

        <form id="wizard-form" method="POST" action="/client/setup" aria-label="Wizard Form">

            <div class="main-container">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row-header">
                            {{{createTTSButton "step_1_tts" lang}}}
                            <h2 id="step_1_tts">{{{step_1_tts}}}</h2>
                        </div>
                    </div>
                </div>

                <div class="row radio-button-container" aria-labelledby="step_1_tts" data-name="tts">

                    <div class="columns small-4 large-4">
                        <div class="radio-button widget widget_large {{#ifEquals setupInformation.[0].tts "yes"}} checked {{/ifEquals}}" data-value="yes" aria-labelledby="text_read_aloud_yes">
                            <img src="/images/setup/step2/text-to-speech.png" alt="">
                        </div>
                        <div class="row">
                            <div class="columns small-12 text-center">
                                <span id="text_read_aloud_yes">{{{text_read_aloud_yes}}}</span>
                                <br>
                                {{{createTTSButton "text_read_aloud_yes" lang}}}

                            </div>
                        </div>
                    </div>

                    <div class="columns small-4 large-4">
                        <div class="radio-button widget widget_large {{#ifEquals setupInformation.[0].tts "no"}} checked {{/ifEquals}}" data-value="no" aria-labelledby="text_read_aloud_no">
                            <img src="/images/setup/step2/no.png" alt="">
                        </div>

                        <div class="row">
                            <div class="columns small-12 text-center">
                                <span id="text_read_aloud_no">{{{text_read_aloud_no}}}</span>
                                <br>
                                {{{createTTSButton "text_read_aloud_no" lang}}}

                            </div>
                        </div>
                    </div>
                    <div class="columns small-4 large-4">
                    </div>
                </div>

                <!-- SECOND QUESTION -->
                <div id="tts-speed-container" {{#ifEquals setupInformation.[0].tts "yes"}} {{else}} style="display: none;"  {{/ifEquals}} aria-label="Text-to-Speech Speed">
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="row-header">
                                {{{createTTSButton "text_read_aloud_speed" lang}}}
                                <h2 id="text_read_aloud_speed">
                                {{{text_read_aloud_speed}}}
                            </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row radio-button-container" aria-labelledby="heading1" data-name="tts_speed">
                        <div class="columns small-4 large-4">
                            <div class="radio-button widget{{#ifEquals setupInformation.[0].tts_speed "slow"}} checked {{/ifEquals}}"
                                 data-value="slow">
                                <img src="/images/setup/step2/speed-slow.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span id="text_read_aloud_speed_slow">{{{text_read_aloud_speed_slow}}}</span>
                                    <br>
                                    {{{createTTSButton "text_read_aloud_speed_slow" lang}}}

                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                            <div class="radio-button widget {{#ifEquals setupInformation.[0].tts_speed "normal"}} checked {{/ifEquals}}"
                                 data-value="normal">
                                <img src="/images/setup/step2/speed-normal.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span id="text_read_aloud_speed_normal">{{{text_read_aloud_speed_normal}}}</span>
                                    <br>
                                    {{{createTTSButton "text_read_aloud_speed_normal" lang}}}

                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                            <div class="radio-button widget {{#ifEquals setupInformation.[0].tts_speed "fast"}} checked {{/ifEquals}}" data-value="fast">
                                <img src="/images/setup/step2/speed-fast.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span  id="text_read_aloud_speed_fast">{{{text_read_aloud_speed_fast}}}</span>
                                    <br>
                                    {{{createTTSButton "text_read_aloud_speed_fast" lang}}}

                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="columns large-centered progress-column">
                    <div class="progress-container">
                        <button id="prevButton" type="button" class="button progress-button"><img
                                    src="/images/back.png" alt="Back"></button>
                        <div class="progress-indicator-container">
                            <ol class="progress-indicator">

                                {{#each stepInformation}}
                                    {{#ifEquals step "completedStep"}}
                                        <li class="is-complete" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "currentStep"}}
                                        <li class="is-current {{percent}}" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "upcomingStep"}}
                                        <li class="" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                {{/each}}
                            </ol>
                        </div>
                        <button id="nextButton" type="button" class="button progress-button"><img src="/images/next.png" alt="Next"></button>
                        <br>
                        <span class="back-label progress-label">{{previous}}</span>
                        <span class="next-label progress-label">{{next}}</span>
                    </div>

                </div>
            </div>

        </form>
    </main>


</div>


</body>
</html>