<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{profile_wizard_step_2_heading}}</title>
    {{> head }}
    <link href="/css/client-profile-setup.css" rel="stylesheet"/>
    <script src="/js/client-profile-setup.js"></script>

</head>

<body>

<div class="row wrapper main-content">


    <main>
        <form method="POST" action="/client/setup">
            <div class="medium-12 columns">


                <div class="setup">
                    <div role="group" aria-labelledby="desc2" class="checkbox-container">
                        <h1 id="desc2">
                            {{understandable_title}}
                        </h1>
                        <div class="container">
                            <div class="checkbox {{#ifEquals setupInformation.[0].easytext
                                                             "true"}} checked {{/ifEquals}}" data-name="easytext">
                                <img src="/images/setup/step2/easytext.png" alt=""><span class="container-info"> {{easy_text_label}}</span>
                            </div>
                            <div class="checkbox  {{#ifEquals setupInformation.[0].translation
                                                              "true"}} checked {{/ifEquals}}" data-name="translation">
                                <img src="/images/setup/step2/translation.png" alt=""> <span class="container-info"> {{translation_label}}</span>
                            </div>
                            <div class="checkbox {{#ifEquals setupInformation.[0].video "true"}} checked {{/ifEquals}}"
                                 data-name="video">
                                <img src="/images/setup/step2/video.png" alt=""><span class="container-info"> {{multimedia_label}}</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="row">

                <div class="columns small-6 small-centered">
                    <div>
                        {{#if previousStep}}
                            <input type="hidden" value="{{nextStep}}" name="back">
                            <input type="image" src="/images/back.png" alt="Back" name="back"
                                   class="button step-button">
                            <!--  <a href="#" class="button step-button"><img src="/images/back.png" alt="Back"/></a>-->
                        {{/if}}




                        <div class="progress-indicator-container">
                            <ol class="progress-indicator">

                                {{#each stepInformation}}
                                    {{#ifEquals step "completedStep"}}
                                        <li class="is-complete" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "currentStep"}}
                                        <li class="is-current" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "upcomingStep"}}
                                        <li class="" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                {{/each}}
                            </ol>
                        </div>

                        <input type="hidden" value="{{nextStep}}" name="step">
                        <input type="image" src="/images/next.png" alt="Next" name="next" class="button step-button"
                               id="">
                    </div>

                </div>
            </div>
        </form>
    </main>


</div>


</body>
</html>