<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{step4_heading}}</title>
    {{> head }}
    <link href="/css/client-profile-setup.css" rel="stylesheet"/>
    <script src="/js/client-setup/client-profile-setup.js"></script>
    <script src="/js/client-setup/audio.js"></script>
    <script src="/js/client-setup/progress.js"></script>
    <script>

        addRadioButtonListener(function (value) {

            if (value == "yes") {

                $("#tts-speed-container").show();

            } else {
                $("#tts-speed-container").hide();
            }
        }, "symbol_support");

    </script>

</head>

<body>

<div>

    <div class="row">
        <header class="medium-12 columns header">
            <div class="columns small-1 large-1 logo-column">
                <img src="/images/setup/step1/logo.png" alt="EasyReading Logo" class="logo">
            </div>
            <div class="columns small-11 large-11 er-header">
                <h1 id="heading1" class="heading1">{{{step4_heading}}}</h1>
                <hr class="header-hr">
            </div>

        </header>

    </div>


    <main>

        <form id="wizard-form" method="POST" action="/client/setup">

            <div class="main-container">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row-header">
                            <button type="button" class="er-audio-player er-audio-player-float" data-audio-elements="heading2_1 heading2_1_text"><img
                                    src="/images/setup/text-to-speech.png"></button>
                            <div>

                                <h2 id="heading2_1" data-audio-src="/audio/step4/{{lang}}/heading2_1.mp3">
                                {{{step4_symbol_language}}}

                                </h2>

                                <div id="heading2_1_text" data-audio-src="/audio/step4/{{lang}}/heading2_1_text.mp3">
                                {{{use_symbol_language_text}}}

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row radio-button-container" aria-labelledby="desc1" data-name="symbol_support">
                    <div class="columns small-4 large-4">
                        <div class="radio-button widget widget_large {{#ifEquals setupInformation.[3].symbol_support "yes"}} checked {{/ifEquals}}" data-value="yes">
                            <img src="/images/setup/step4/symbol-language.png" alt="">
                        </div>
                        <div class="row">
                            <div class="columns small-12 text-center">
                                <span id="button1_text" data-audio-src="/audio/step4/{{lang}}/button1_text.mp3" class="container-info">{{{use_symbol_language_yes}}}</span>
                                <br>
                                <button type="button" class="er-audio-player" data-audio-elements="button1_text"><img
                                        src="/images/setup/text-to-speech.png"></button>

                            </div>
                        </div>
                    </div>

                    <div class="columns small-4 large-4">
                        <div class="radio-button widget widget_large {{#ifEquals setupInformation.[3].symbol_support "no"}} checked {{/ifEquals}}" data-value="no">
                            <img src="/images/setup/step4/no.png" alt="">
                        </div>

                        <div class="row">
                            <div class="columns small-12 text-center">
                                <span id="button2_text" data-audio-src="/audio/step4/{{lang}}/button2_text.mp3" class="container-info">{{{use_symbol_language_no}}}</span>
                                <br>
                                <button type="button" class="er-audio-player" data-audio-elements="button2_text"><img
                                        src="/images/setup/text-to-speech.png"></button>

                            </div>
                        </div>


                    </div>
                    <div class="columns small-4 large-4">
                    </div>
                </div>


                <!-- SECOND QUESTION -->
                <div id="tts-speed-container" {{#ifEquals setupInformation.[3].symbol_support "yes"}} {{else}} style="display: none;" {{/ifEquals}}>

                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="row-header">
                                <button type="button" class="er-audio-player" data-audio-elements="heading2_2"><img
                                        src="/images/setup/text-to-speech.png"></button>
                                <h2 id="heading2_2" data-audio-src="/audio/step4/{{lang}}/heading2_2.mp3">
                                    {{{use_symbol_language_which}}}
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row radio-button-container" aria-labelledby="heading1" data-name="preferred_symbol">
                        <div class="columns small-4 large-4">
                            <div class="radio-button widget{{#ifEquals setupInformation.[3].preferred_symbol "bliss"}} checked {{/ifEquals}}"
                                 data-value="slow">
                                <img src="/images/setup/step4/bliss.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span id="button3_text" data-audio-src="/audio/step4/{{lang}}/button3_text.mp3" class="container-info">{{{use_symbol_language_bliss}}}</span>
                                    <br>
                                    <button type="button" class="er-audio-player" data-audio-elements="button3_text">
                                        <img src="/images/setup/text-to-speech.png">
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                            <div class="radio-button widget {{#ifEquals setupInformation.[3].preferred_symbol "widgit"}} checked {{/ifEquals}}"
                                 data-value="widgit">
                                <img src="/images/setup/step4/widgit.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span id="button4_text" data-audio-src="/audio/step4/{{lang}}/button4_text.mp3" class="container-info">{{{use_symbol_language_widgit}}}</span>
                                    <br>
                                    <button type="button" class="er-audio-player" data-audio-elements="button4_text">
                                        <img src="/images/setup/text-to-speech.png">
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                            <div class="radio-button widget {{#ifEquals setupInformation.[3].preferred_symbol "arasaac"}} checked {{/ifEquals}}" data-value="arasaac">
                                <img src="/images/setup/step4/arasaac.png" alt="">
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center">
                                    <span id="button5_text" data-audio-src="/audio/step4/{{lang}}/button5_text.mp3" class="container-info">{{{use_symbol_language_arasaac}}}</span>
                                    <br>
                                    <button type="button" class="er-audio-player" data-audio-elements="button5_text">
                                        <img src="/images/setup/text-to-speech.png">
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="columns small-4 large-4">
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="columns large-centered progress-column">
                    <div class="progress-container">
                        <button id="prevButton" type="button" class="button progress-button"><img
                                    src="/images/back.png" alt="Back"></button>
                        <div class="progress-indicator-container">
                            <ol class="progress-indicator">

                                {{#each stepInformation}}
                                    {{#ifEquals step "completedStep"}}
                                        <li class="is-complete" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "currentStep"}}
                                        <li class="is-current {{percent}}" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                    {{#ifEquals step "upcomingStep"}}
                                        <li class="" data-step="{{stepNumber}}">
                                        </li>
                                    {{/ifEquals}}
                                {{/each}}
                            </ol>
                        </div>
                        <button id="nextButton" type="button" class="button progress-button"><img src="/images/next.png"
                                                                                                  alt="Next"></button>
                        <br>
                        <span class="back-label progress-label">{{previous}}</span>
                        <span class="next-label progress-label">{{next}}</span>

                    </div>
                </div>
            </div>

        </form>
    </main>


</div>


</body>
</html>