<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{profile_wizard_step_8_heading}}</title>
    {{> head }}
    <link href="/css/client-profile-setup.css" rel="stylesheet"/>
    <script src="/js/client-profile-setup.js"></script>

</head>

<body>

<div class="row wrapper main-content">

    <main>
        <form method="POST" action="/client/setup">
            <div class="medium-12 columns">


                <div class="center">


                    <div>
                        <img src="/images/setup/step8/logo.png" alt="EasyReading Logo" class="logo">
                        <div>
                            <h1>{{setup_complete_title}}</h1>


                            <p class="container-info">{{setup_complete_text}}</p>


                        </div>
                    </div>
                </div>


                <span class="clearfix"></span>

                <div class="choice-container">


                    {{#if defaultProfile}}
                        <img src="/images/setup/step1/avatar1.png" alt="" class="avatar-image">
                        <h2>{{setup_complete}}</h2>

                        <p class="container-info">{{default_profile_complete_text}}</p>
                    {{else}}
                        <img src="/images/setup/step1/avatar2.png" alt="" class="avatar-image">
                        <h2>{{setup_complete}}</h2>

                        <p class="container-info">{{personal_profile_complete_text}}</p>
                    {{/if}}





                    <input type="submit" value="{{finish_label}}" name="finished">

                </div>

            </div>


        </form>
    </main>


</div>


</body>
</html>