<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{page_registercaretaker_title}}</title>
    {{> head }}
</head>

<body>

<div class="row wrapper">

    <div class="medium-3 columns" aria-label="Navigation">
        <nav>
            {{> nav_client }}
            {{> nav_user_info }}
        </nav>
        {{> leave_site_info}}
    </div>

    <div class="medium-9 columns">

        <main>

            <div class="row columns">
                <h1 aria-label="Page Title Register Caretaker">{{page_registercaretaker_title}}</h1>
                <form id="submit" method="post" aria-label="Registration Form">
                    {{#if errorMessages.length}}
                        <div data-closable class="jsFeedbackViewer alert callout alert-callout-border" aria-label="Error Messages">
                            <p class="jsFeedbackViewerText">
                                {{#each errorMessages}}
                                    <span style="display: block;">
                                        {{#if additionalInfo}}
                                            <strong>{{additionalInfo}}: </strong>
                                        {{/if}}
                                        {{message}}
                                    </span>

                                {{/each}}
                            </p>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="email" aria-label="Email Label">{{page_registercaretaker_label_google}}</label>
                        <input type="email" class="form-control" name="email" id="email" aria-label="Email Input">
                    </div>

                    <input type="submit" value="{{Save}}" aria-label="Submit Button"/>
                    <a class="button" href="/client/caretakers" aria-label="Cancel Link">{{Cancel}}</a>
                </form>
            </div>

        </main>
        {{>footer}}
    </div>

</div>
</body>
</html>