<!DOCTYPE html>

<html lang="en">

<head>
    <title>Configuration list</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <input id="data" type="hidden" value="{{convertToString engines}}">
    <div class="container">
        <h1>Here are your configurable tools</h1>
        <h3>Change any value and press the submit button to save the new value</h3>
        <ul style="list-style:none;">
            {{#each engines}}
            <li>
                <div class="tool">
                    <form>
                        <fieldset>
                            <legend>{{id}}-{{version}}</legend>
                            {{addInputField this @index}}
                            <input type="button" value="Save" onclick="prepareUpdate('{{@index}}')" />
                        </fieldset>
                    </form>
                </div>
            </li>
            <br>
            {{/each}}
        </ul>
        <input type="button" value="Save all" onclick="updateAll()" />

        <br /><br /><a href="{{backURL}}">Back to start</a>

    </div>

    <script type="text/javascript">

        const getUserId = () => sessionStorage.getItem('active-user')

        function updateAll() {
            let data = JSON.parse(document.getElementById('data').value)
            let tools = document.getElementsByClassName('tool')
            for (let i = 0; i < tools.length; i++) {
                data = updateSessionStorage(i, data)
            }
            setConfiguration()
        }

        function prepareUpdate(index) {
            let data = JSON.parse(document.getElementById('data').value)
            updateSessionStorage(index, data)
            setConfiguration()
        }

        function updateSessionStorage(index, data) {
            console.log(data)
            let config = {}

            if (data[index].dataSchema.properties) {
                let fields = Object.keys(data[index].dataSchema.properties)
                for (let i = 0; i < fields.length; i++) {
                    config[fields[i]] = document.getElementById(fields[i] + '-' + index).value
                }

                data[index].config[0] = config
            }
            data[index].enable = document.getElementById('enable-' + index).checked ? true : false
            sessionStorage.setItem('data', JSON.stringify(data))

            return data
        }

        function setConfiguration() {
            console.log(JSON.parse(sessionStorage.getItem('data')))
            fetch('/api/v1/configuration', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    engines: sessionStorage.getItem('data'),
                    gid: getUserId()
                })
            })
        }
            // .then(_ => { window.location.href = '/profiles' })
            // .catch(console.error)
          //
          // setupClickHandler()
    </script>
</body>

</html>
