<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{page_content_replacement_title}}</title>
    {{> head }}
    <script src="/js/upload.js"></script>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 3px;
    }
</style>


<body>
<div class="row wrapper">

    <div class="medium-3 columns">
        <nav>
            {{> nav_backend }}
            {{> nav_user_info }}
        </nav>
    </div>

    <div class="medium-9 columns">

        <main>

            <div class="row columns">

                <form id="submit" method="post">
                    <label>Title: <input type="text" name="title" value="{{title}}"></label>
                    <label>URL: <input type="url" name="url" value="{{url}}"></label>

                    <label for="profile">Choose a profile:</label>

                    <select name="profile" id="profile">
                        {{#each profiles}}
                            {{#ifEquals pid ../pid}}
                                <option value="{{id}}" selected="selected">{{title}}</option>
                            {{else}}
                                <option value="{{id}}">{{title}}</option>
                            {{/ifEquals}}

                        {{/each}}
                    </select>

                    <div id="current_logo">
                        {{#if logo}}

                            <img src="data:image/png;base64, {{logo}}" alt="Preview picture"/>
                        {{else}}
                            No logo uploaded!
                        {{/if}}
                    </div>

                    <input id="file_upload" type="file" onchange="loadFile()"><br>
                    <button id="upload" onclick="uploadFile()" style="display: none" type="button">Upload..</button>


                    {{#if logo}}

                        <button id="clear" onclick="clearFile()" type="button">Clear</button>
                    {{else}}
                        <button id="clear" onclick="clearFile()" type="button" style="display: none">Clear</button>
                    {{/if}}
                    <input type="hidden" id="logo" name="logo" value=""><br>

                    <label for="hidden_on_page_load">Hidden on page load:</label>
                    <input type="checkbox" id="hidden_on_page_load" value="hidden" name="hidden_on_page_load"  {{#if
                            hiddenOnPageLoad}} checked{{/if}} >


                    <input type="hidden" name="esm_id" value="{{esm_id}}">
                    <input type="hidden" name="id" value="{{id}}">


                    <input type="submit" value="save"/>
                </form>


            </div>
        </main>


    </div>
</div>
</body>
</html>
