<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{page_content_replacement_title}}</title>
    {{> head }}
</head>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 3px;
    }
</style>

<body>
<div class="row wrapper">

    <div class="medium-3 columns">
        <nav>
            {{> nav_backend }}
            {{> nav_user_info }}
        </nav>
    </div>

    <div class="medium-9 columns">

        <main>

            <div class="row columns">

                {{#if profileCreated}}

                    <h1>My Sites</h1>
                    <form method="POST" action="deleteEmbeddedSite">
                        <table aria-label="My Sites Table">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Url</th>
                                <th scope="col">Profile title</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>


                            {{#each sites}}
                                <tr>
                                    <td> {{ title }}</td>
                                    <td> {{ url }}</td>
                                    <td>{{profileTitle}}</td>
                                    <td><a href="createEditEmbeddedSite?id={{id}}" aria-label="Edit Site">Edit</a> </td>
                                    <td><input type="submit" name="delete_{{ id }}" value="Delete" aria-label="Delete Site"></td>
                                </tr>

                            {{/each}}
                        </table>
                    </form>
                    <a href="createEditEmbeddedSite">Create new embedded site</a>
                {{/if}}


                <form method="POST" action="deleteProfile">
                    <h1>My Profiles</h1>
                    <table aria-label="My Profiles Table">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Edit config</th>
                            <th scope="col">Delete</th>
                        </tr>


                        {{#each profiles}}
                            <tr>
                                <td> {{ title }}</td>
                                <td><a href="createEditEmbeddedProfile?id={{id}}" aria-label="Edit Profile">Edit</a> </td>
                                <td><a href="embedded-configure?id={{pid}}" aria-label="Edit Profile Configuration">Edit</a> </td>
                                {{#if used}}
                                    <td>Profile used in site</td>
                                {{else}}
                                    <td><input type="submit" name="delete_{{ id }}" value="Delete" aria-label="Delete Profile"></td>
                                {{/if}}
                            </tr>

                        {{/each}}

                    </table>
                </form>
                <a href="createEditEmbeddedProfile" aria-label="Create new profile">Create new profile</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>
