<!DOCTYPE html>

<html lang="en">

<head>
    <title>Health care worker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <input id="data" type="hidden" value="{{convertToString profile}}">

    <main class="container">

        <div class="row columns">

            <h1>Health care worker configuration</h1>

            
            <button class="js-select-profile profile" data-user-id="{{ profile.id }}">
                {{ profile.email }}
            </button>
            <div id="patients">
                {{#each profile.patients}}
                <p>
                    <label for="enable_{{ id }}">Enable:</label>
                    <input type="checkbox" class="checkbox" id="enable_{{ id }}" name="enable_{{ id }}" data-connected="{{ connected }}"
                           value="{{ id }}">
                    <span>{{ email }}</span>
                </p>
                {{/each}}
                <input type="button" value="Save" onclick="update()" />
            </div>

            <br /><br /><a href="/">Back to start</a>
        </div>

    </main>

    <script type="text/javascript">
        /*
          const setUserAndRedirect = event => {
            sessionStorage.setItem('active-user', event.target.dataset.userId)
            window.location = `/configure?gid=${event.target.dataset.userId}`
          }

          const addHandlers = () =>
            [...document.getElementsByClassName('js-select-profile')]
              .forEach(el => el.addEventListener('click', setUserAndRedirect))

          addHandlers()
          */
        const update = () => {
            console.log("update");
            const data = prepareDataForUpdate();
            callUpdateApi(data);
        }

        const callUpdateApi = (data) => {

            fetch('/api/v1/profile', {
                method: 'PATCH',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    profile: data
                })
            })
        }

        const prepareDataForUpdate = () => {
            console.log("update session data");
            let data = JSON.parse(document.getElementById('data').value);
            console.log(data);
            const checkBoxes = document.getElementById("patients").getElementsByClassName("checkbox");

            for (let patient of data.patients) {
                const checkBox = document.getElementById("enable_" + patient.id);
                patient.connected = (checkBox.checked) ? 1 : 0;
            }

            return data;
        }

        const checkCheckBoxes = () => {
            const checkBoxes = document.getElementById("patients").getElementsByClassName("checkbox");
            for (const checkBox of checkBoxes) {
                if (checkBox.dataset.connected === "1")
                    checkBox.checked = true;
            }
        }
        checkCheckBoxes();
    </script>

</body>

</html>