<h1>
    <a href="/"><img id="er-logo" src="../images/logo.png" alt="{{menu_home_text}}" title="{{menu_home_text}}"></a>
</h1>



{{#contains roles "admin"}}
    <h2>Administration</h2>
    <ul class="no-bullet">
        <li><a href="/admin/backend_user_management">Manage Backend Users</a></li>
        <li><a href="/admin/client_management">Manage Clients</a></li>
        <li><a href="/admin/content_replacements">Manage Content Replacements</a></li>
        <li><a href="/admin/embedded_sites">Manage Embedded Sites</a></li>
    </ul>
    <hr>
{{/contains}}

{{#contains roles "embedded_site_manager"}}
    <h2>Site Management</h2>
    <ul class="no-bullet">
        <li><a href="/embedded/embeddedOverview">Embedded Site Managment</a></li>
        </li>
    </ul>
    <hr>
{{/contains}}

{{#contains roles "content_replacement_creator"}}
    <h2>Site Management</h2>
    <ul class="no-bullet">
        <li><a href="/caretaker/custom-paragraphs-overview?id={{user.id}}">{{menu_config_your_content_replacments}}</a>
        </li>
    </ul>
    <hr>
{{/contains}}

{{#contains roles "caretaker"}}
    <h2>Caretaker</h2>
    <ul class="no-bullet">
        <li><a href="/caretaker/clients">{{ menu_configure_clients_text }}</a></li>
        </li>
    </ul>

{{/contains}}



